---
---

<div class="grid-icons">
  <slot />
</div>

<style>
  .grid-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 800px;
    margin: 40px auto;
  }
</style>
